<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891861723938-252q173fp94k0ftmusj549pumd9baj5s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891861723938-252q173fp94k0ftmusj549pumd9baj5s</string>
	<key>API_KEY</key>
	<string>AIzaSyAklKB0dEdoBD7sRQ95G9oGOwsop4fCpqc</string>
	<key>GCM_SENDER_ID</key>
	<string>891861723938</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mietechnologies.vh-assistant</string>
	<key>PROJECT_ID</key>
	<string>vh-assist</string>
	<key>STORAGE_BUCKET</key>
	<string>vh-assist.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891861723938:ios:28f33b26146527bffa537b</string>
</dict>
</plist>